.jfx-combo-box {
    -fx-prompt-text-fill: WHITE;
}

.combo-box > .list-cell {
    -fx-text-fill: white;
}

/*Raised button example */
.jfx-button {
     -jfx-button-type: FLAT;
     -fx-background-color: #4d526d;
     -fx-text-fill: white;
}